opencv-python
numpy
insightface
onnxruntime-gpu
mtcnn
keras-facenet
scikit-learn
python-barcode
Pillow
zxing-cpp
qrcode
pyzbar
pyttsx3
ultralytics
deep-sort-realtime
dlib
face_recognition
pandas
Flask
requests